<include file="Blog/Home/View/Common/header.html" title="BLOG" />
<base target="iframe"/>
</head>
<body>
	<div id="top">
		<!-- <div class="menu">
			<a href="#">选择按钮</a>
			<a href="#">选择按钮</a>
			<a href="#">选择按钮</a>
			<a href="#">选择按钮</a>
		</div> -->
		<div class="exit">
			<a href="{:C('URL_ROUTER_ON')?'/logout':U(MODULE_NAME.'/Login/logout')}" target="_self">退出</a>
			<a href="" target="_blank">获得帮助</a>
			<a href="" target="_blank">BLOG</a>
		</div>
	</div>
	<div id="left">
		<foreach  name="rest" item="v" >
		<dl>
			<dt>{$v.$name}</dt>
			<foreach  name="v.child" item="vv" >
				<dd><a href="{:U(MODULE_NAME.$vv['url'])}">{$vv.$name}</a></dd>
			</foreach>
		</dl>
		</foreach>
		<dl>
			<dt>导航管理</dt>
			<dd><a href="{:U(MODULE_NAME.'/Nav/index')}">导航菜单</a></dd>
		</dl>
	</div>
	<div id="right">
		<iframe  style="border: none;width: 100%;" name="iframe" src="{:U(MODULE_NAME.'/Index/welcome')}"></iframe>
	</div>
</body>
</html>