<include file="Blog/Home/View/Common/header.html" title="LOGIN" />
		<link rel="stylesheet" href="__PUBLIC__/Common/css/login.css?version={:C('CSS_VERSION')}" />
		<script type="text/javascript" src="__PUBLIC__/Common/js/login.js"></script>
		<script type="text/javascript">
			var code_url = "{:U(MODULE_NAME.'/Login/verify','','')}";
		</script>
	</head>
	<body>
		<div id="top">

		</div>
		<div class="login">	
			<form action="{:U(MODULE_NAME.'/Login/handle','','')}" target="_parent" method="post" >
			<div class="title">
				PengZR | 登录后台
			</div>
			<table border="1" width="100%">
				<tr>
					<th>管理员帐号:</th>
					<td>
						<input type="username" name="username" class="len250"/>
					</td>
				</tr>
				<tr>
					<th>密码:</th>
					<td>
						<input type="password" class="len250" name="passwd"/>
					</td>
				</tr>
				<tr>
					<th>验证码:</th>
					<td>
						<input type="code" class="len250" name="code"/>
						<img src="{:U(MODULE_NAME.'/Login/verify','','')}" id="code"/> 
						<div style="cursor: pointer;"  onclick="change_code()">看不清</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding-left:160px;"> <input type="submit"  class="submit" value="登录"/></td>
				</tr>
			</table>
		</form>
	</div>
	</body>
</html>